<a href="https://colab.research.google.com/github/Umar-30/Python-Assingment-3/blob/main/Assingment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assingment 3 List Tuples and Method

Q1. Create a list of five numbers and append a new number to it. Print the updated list.

In [ ]:
number = [51, 52, 53, 54, 55]
number.append(56)
print("Updated List:", number)

Updated List: [51, 52, 53, 54, 55, 56]

Q2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

In [ ]:
number1 =[1, 2, 3]
number1.extend([4, 5, 6])
print("updated List:", number1)

updated List: [1, 2, 3, 4, 5, 6]

Q3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript",
"Ruby"].

In [ ]:
language = ["Java", "C++", "JavaScript", "Ruby"]
language.insert(2, "python")
print("New List:", language)

New List: ['Java', 'C++', 'python', 'JavaScript', 'Ruby']

Q4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

In [ ]:
number3 = [10, 20, 30, 40]
number3.remove(10)
print("updated list:", number3)

updated list: [20, 30, 40]

Q5. Use the pop() method to remove the last element from [100, 200, 300, 400] and
print the modified list.

In [ ]:
num4 = [100, 200, 300, 400]
num4.pop()
print("modified List:",num4)

modified List: [100, 200, 300]

Q6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

In [ ]:
number_list = [5, 10, 5, 20, 5, 30]
num5 = number_list.count(5)
print("count of 5:", num5)

count of 5: 3

Q7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order

In [ ]:
num_list = [9, 1, 8, 3, 5]
num_list.sort()
print("Ascending Order:", num_list)
num_list.sort(reverse=True)
print("Descending Order:", num_list)

Ascending Order: [1, 3, 5, 8, 9]
Descending Order: [9, 8, 5, 3, 1]

Q8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.

In [ ]:
fruits = ["apple", "banana","cherry"]
fruits.reverse()
print("Reverse List:", fruits)

Reverse List: ['cherry', 'banana', 'apple']

Q9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the
copied list and print both lists.

In [ ]:
list_num = [1, 2, 3, 4, 5]
copy_list = list_num.copy()
copy_list.append(6)
print("Original List:", list_num)
print("Copied List:", copy_list)

Original List: [1, 2, 3, 4, 5]
Copied List: [1, 2, 3, 4, 5, 6]

Q10. Clear all elements from a list [“hello”, “world”, “python”] using the clear()
method.

In [ ]:
words = ["hello", "world", "python"]
words.clear()
print("Cleared List:", words)

Cleared List: []

Q11. Create a tuple with 5 different fruits and print the third fruit

In [ ]:
fruits = ("apple", "banana", "cherry", "date", "orange")
print("Third Fruit:", fruits[2])

Third Fruit: cherry

Q12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert
it back into a tuple.

In [ ]:
number_tuple = (10, 20, 30, 40, 50)
number_list = list(number_tuple)
number_list.remove(30)
number_tuple = tuple(number_list)
print("Updated Tuple:", number_tuple)

Updated Tuple: (10, 20, 40, 50)

Q13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you
modify a tuple indirectly?

In [ ]:
list_13 = ["A", "B", "C"]
list_13 =  list(list_13)
list_13.append("D")
list_13 = tuple(list_13)
print("Updated Tuple:", list_13)

Updated Tuple: ('A', 'B', 'C', 'D')

Q14. Unpack the tuple (100, 200, 300) into three separate variables and print them.

In [ ]:
# Define the tuple
numbers = (100, 200, 300)

# Unpack the tuple into separate variables
a, b, c = numbers

# Print the variables
print(a)
print(b)
print(c)

100
200
300

Q15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

In [ ]:
number_tuple = (7, 1, 7, 3, 7, 5)
count = number_tuple.count(7)
print("Count of 7:", count)

Count of 7: 3

Q16. Write a function that takes a list and returns a new list with all even numbers removed.

In [ ]:
def remove_even_numbers(numbers):
    return [num for num in numbers if num % 2 != 0]
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("List without even number:", remove_even_numbers(list))

List without even number: [1, 3, 5, 7, 9]

Q17. Create a function that accepts a list and returns a new list with elements sorted in
descending order without using the sort() method.

In [ ]:
# elements sorted in descending order without using the sort() method.
def sort_des(lst):
  return sorted(lst , reverse = True)
list = [11, 22, 33, 44, 55]
print("descending order:", sort_des(list))

descending order: [55, 44, 33, 22, 11]

Q18. Given a list of numbers, write a program to remove all duplicate elements and print the
unique elements.

In [ ]:
number_list2 = [10, 20, 40, 10, 30, 60, 20]
# new variable
unique_elements = []

for num in number_list2:
    if num not in unique_elements:
        unique_elements.append(num)
print("Unique Elements:", unique_elements)

Unique Elements: [10, 20, 40, 30, 60]

Q19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert
it into a list, remove duplicates, and convert it back to a tuple.

In [ ]:
names_tuple = ("Alice", "Bob", "Charlie", "Alice", "David")

names_list = list(set(names_tuple))  # convert to set to remove duplicates

names_tuple = tuple(names_list) # convert back to tuple
print("Updated Tuple after removing duplicate:", names_tuple)

Updated Tuple after removing duplicate: ('Alice', 'Bob', 'Charlie', 'David')

Q20. Create a program that takes a list of mixed data types (int, str, float) and separates
integers into one list, strings into another, and floats into another.

In [ ]:
mixed_list = [41, "hello world", 3.6, 48, "java", "python", 27, 5.5]
integers = [x for x in mixed_list if isinstance(x, int)]
strings = [x for x in mixed_list if isinstance(x, str)]
floats = [x for x in mixed_list if isinstance(x, float)]

print("Integers:", integers)
print("Strings:", strings)
print("Floats:", floats)

Integers: [41, 48, 27]
Strings: ['hello world', 'java', 'python']
Floats: [3.6, 5.5]